* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--white);
  color: var(--black);
}

.header-container {
  width: 200px;
  height: auto;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 20px 20px;
  background-color: var(--light-gray);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-container ul li {
  text-align: end;
}
.header-container ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid #e8e8e8;
}
.header-container ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
  font-weight: bold;
  letter-spacing: 0.4px;
}
.header-container ul li a {
  font-weight: bold;
  color: var(--black);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}