* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--white);
  color: var(--black);
}

.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.main-logo {
  width: 150px;
  margin-bottom: 50px;
  justify-self: center;
  display: none;
}

.main-title {
  font-size: var(--lg);
  font-weight: 700;
  margin-bottom: 12px;
  text-align: center;
}

.subtitle {
  font-size: var(--md);
  color: var(--grey);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}
.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}
.input {
  height: 32px;
  border: none;
  border-radius: 8px;
  padding: 6px;
  font-size: var(--md);
  background-color: #e8e4e4;
  margin-bottom: 12px;
}
.primary-button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: var(--hospital-green);
  color: var(--white);
  font-size: var(--md);
  font-weight: bold;
  cursor: pointer;
  margin-top: 14px;
  margin-bottom: 32px;
}

@media (max-width: 640px) {
  .main-logo {
    display: block;
  }
}