* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--white);
  color: var(--black);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  place-content: center;
  margin-top: 16px;
  gap: 16px;
}

.product-card {
  width: 240px;
}
.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 16px;
  object-fit: cover;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.product-info figure {
  margin: 0;
}
.product-info figure img {
  width: 32px;
  height: 32px;
}
.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
  font-weight: 500;
  font-size: var(--sm);
  margin-bottom: 0;
  color: var(--grey);
}
@media (max-width: 640px) {
  .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  gap: 24px;
}
 .product-card {
  width: 140px;
}
  .product-card img {
    width: 140px;
    height: 140px;
    border-radius: 24px;
    object-fit: cover;
}
}